<div class="game-container" tabindex="0" @onclick="_gameManager.StartGame" @onkeyup="HandleKeyUp">
    <div class="sky">
        <Bird Model="_gameManager.Bird" />
    </div>
    <div class="ground"></div>

    <Pipe Model="_gameManager.Pipe" />

</div>

@code {

    GameManager _gameManager;


    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == " ")
        {
            _gameManager.Bird.Jump();
        }
    } 
}
