<div class="pipe" style="@_pipeCss"></div>

@code {

    [Parameter] public PipeModel Model { get; set; }

    string _pipeCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom}px";
}
